* {
  box-sizing: border-box;
}

body {
  font-family: 'Titillium Web', helvetica, arial, sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: #ee0979;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container{
  width: 100%;
  max-width: 800px;
  margin: 25px auto;
}

header {
  text-align: center;
  color: white;
  width: 100%;
  padding-top: 10px;
}

.header, .subhead {
  font-weight: 300;
  width: 100%;
}

.center {
  text-align: center;
  color: white;
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.col-1 {
  min-width: 60%;
}

.col-2 {
  min-width: 38%;
}

@media (max-width: 600px) {
  .col, .col-1, .col-2 {
    width: 100%;
  }
}

.card {
  padding: 20px;
  line-height: 2;
  border: 1px solid lightgray;
  background: white;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
}

.card__title {
  margin-top: 0;
  padding-top: 0;
}

.card__url {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.card__action {
  text-decoration: none;
  background: #ee0979;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  font-weight: 700;
  cursor: pointer;
  border-radius: 0 3px 3px 0;
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 20.4px;
  padding-bottom: 20.4px;
  padding-left: 28.8px;
  padding-right: 28.8px;
  font-size: 13px;
  line-height: 19.2px;
  height: 60px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  text-transform: uppercase;
  -webkit-box-shadow: 0 0 0 1px #1a2a6c;
  box-shadow: 0 0 0 1px #1a2a6c;
  text-rendering: optimizelegibility;
  border: 0 !important;
  font-weight: 700;
  letter-spacing: 1.2px;
}

.card__action:hover {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
  background: #ff6a00;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top left, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top left, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

fieldset {
  border: 0;
  padding: 0;
  position: relative;
}

pre{
  margin: 5px;
}

.input {
  height: 60px;
  font-size: 18px;
  font-weight: 300;
  width: 100%;
  padding: 14.4px 23px;
  color: #7f898e;
  line-height: 32px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-width: 0;
  -webkit-box-shadow: 0 0 0 1px #1a2a6c;
  box-shadow: 0 0 0 1px #1a2a6c;
  -webkit-appearance: none;
}


footer {
  padding-top: 25px;
  display: flex;
  justfy-content: center;
  width: 100%;
  height: 72px;
}

.icon__wrap {
  width: 32px;
  margin: auto;
}

.github {
  width: 32px;
  height: 32px;
}

.close {
  color: lightgray;
  text-decoration: none;
  position: absolute;
  top: 31px;
  right: 147px;
  font-size: 1.5em;
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  z-index: 3;
}

.close:hover {
  color: lightblue;
}

#no_results {
  display: none;
}

.visible {
  display: block !important;
}

.info {
  display:none;
  position: absolute;
  top: 20px;
  right: 160px;
}

.error {
  color: darkred;
}

.hidden {
  display: none;
}

.success {
  color: lime;
}

.results {
  column-count: 4;
  column-gap: 1em;
/*  display: none;*/
}

.image {
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

.navigation {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  color: white;
  margin: 10px 0;
}

.arrow {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  color: rgba(255, 255, 255, .7);
}

.arrow:hover {
  color: rgba(255, 255, 255, 1);
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
}

.disabled {
  color: rgba(255, 255, 255, .2);
}

.disabled:hover {
	color: rgba(255, 255, 255, .2);
}

ul {
	text-align: left;
}

#upload_actions {
	position: relative;
  top: -80px;
  left: 19px;
}

.gray {
	color: darkgray;
}

.loader__wrap {
	z-index: 1;
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	vertical-align: middle;
}

.loader__bkg {
	width: 12em;
  height: 12em;
  background: rgba(0,0,0,.4);
  margin: auto;
	border-radius: 20px;
}

.loader {
  margin: auto;
  font-size: 20px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  top: 4.15em;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 2;
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.5), -1.8em -1.8em 0 0em rgba(255,255,255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.5), 1.8em -1.8em 0 0em rgba(255,255,255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.5), 2.5em 0em 0 0em rgba(255,255,255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.5), 1.75em 1.75em 0 0em rgba(255,255,255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.5), 0em 2.5em 0 0em rgba(255,255,255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.5), -1.8em 1.8em 0 0em rgba(255,255,255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.5), -2.6em 0em 0 0em rgba(255,255,255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.5), -1.8em -1.8em 0 0em rgba(255,255,255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.5), 1.8em -1.8em 0 0em rgba(255,255,255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.5), 2.5em 0em 0 0em rgba(255,255,255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.5), 1.75em 1.75em 0 0em rgba(255,255,255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.5), 0em 2.5em 0 0em rgba(255,255,255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.5), -1.8em 1.8em 0 0em rgba(255,255,255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.5), -2.6em 0em 0 0em rgba(255,255,255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}


@media (max-width: 480px) {
  #uploadButton, .card__action {
    position: static;
    margin-top: 20px;
    width: 100%;
    border-radius: 3px;
  }

  #upload_actions {
    position: relative;
    top: 0px;
    left: 0px;
  }

  .close {
    top: -144px;
    right: -1px;
  }
}

/* ======================================  */

body {
	font-family: Roboto, sans-serif;
	color: #0f3c4b;
	background-color: #e5edf1;
	padding: 5rem 1.25rem; /* 80 20 */
}

.container {
	width: 100%;
	max-width: 680px; /* 800 */
	text-align: center;
	margin: 0 auto;
}

.container h1 {
	font-size: 42px;
	font-weight: 300;
	color: #0f3c4b;
	margin-bottom: 40px;
}

.container h1 a:hover,
.container h1 a:focus {
	color: #39bfd3;
}

.container nav {
	margin-bottom: 40px;
}

.container nav a {
	border-bottom: 2px solid #c8dadf;
	display: inline-block;
	padding: 4px 8px;
	margin: 0 5px;
}

.container nav a.is-selected {
	font-weight: 700;
	color: #39bfd3;
	border-bottom-color: currentColor;
}

.container nav a:not( .is-selected ):hover,
.container nav a:not( .is-selected ):focus {
	border-bottom-color: #0f3c4b;
}

.container footer {
	color: #92b0b3;
	margin-top: 40px;
}

.container footer p + p {
	margin-top: 1em;
}

.container footer a:hover,
.container footer a:focus {
	color: #39bfd3;
}

.box {
	font-size: 1.25rem; /* 20 */
	background-color: #c8dadf;
	position: relative;
	padding: 100px 20px;
}

.box.has-advanced-upload {
	outline: 2px dashed #92b0b3;
	outline-offset: -10px;
	-webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
	transition: outline-offset .15s ease-in-out, background-color .15s linear;
}

.box.is-dragover {
	outline-offset: -20px;
	outline-color: #c8dadf;
	background-color: #fff;
}

.box__dragndrop,
.box__icon {
	display: none;
}

.box.has-advanced-upload .box__dragndrop {
	display: inline;
}

.box.has-advanced-upload .box__icon {
	width: 100%;
	height: 80px;
	fill: #92b0b3;
	display: block;
	margin-bottom: 40px;
}

.box.is-uploading .box__input,
.box.is-success .box__input,
.box.is-error .box__input {
	visibility: hidden;
}

.box__uploading,
.box__success,
.box__error {
	display: none;
}

.box.is-uploading .box__uploading,
.box.is-success .box__success,
.box.is-error .box__error {
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	-webkit-transform: translateY( -50% );
	transform: translateY( -50% );
}

.box__uploading {
	font-style: italic;
}

.box__success {
	-webkit-animation: appear-from-inside .25s ease-in-out;
	animation: appear-from-inside .25s ease-in-out;
}

@-webkit-keyframes appear-from-inside {
	from	{ -webkit-transform: translateY( -50% ) scale( 0 ); }
	75%		{ -webkit-transform: translateY( -50% ) scale( 1.1 ); }
	to		{ -webkit-transform: translateY( -50% ) scale( 1 ); }
}

@keyframes appear-from-inside {
	from	{ transform: translateY( -50% ) scale( 0 ); }
	75%		{ transform: translateY( -50% ) scale( 1.1 ); }
	to		{ transform: translateY( -50% ) scale( 1 ); }
}

.box__restart {
	font-weight: 700;
}

.box__restart:focus,
.box__restart:hover {
	color: #39bfd3;
}

.js .box__file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.js .box__file + label {
	max-width: 80%;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
}

.js .box__file + label:hover strong,
.box__file:focus + label strong,
.box__file.has-focus + label strong {
	color: #39bfd3;
}

.js .box__file:focus + label,
.js .box__file.has-focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.no-js .box__file + label {
	display: none;
}

.no-js .box__button {
	display: block;
}

.box__button {
	font-weight: 700;
	color: #e5edf1;
	background-color: #39bfd3;
	display: none;
	padding: 8px 16px;
	margin: 40px auto 0;
}

.box__button:hover,
.box__button:focus {
	background-color: #0f3c4b;
}

